ion-content {
    --background: #011941;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-list {
    width: 90%; 
    padding: 20px;
    margin-top: 100px;
    margin-left: 20px;
    
    background-color: #f6f6c7; 
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.custom-list ion-item {
    margin-bottom: 20px; 
}

.custom-button {
    --border-radius: 10px; 
    --background: #f57c00; 
    --color: white; 
    margin-top: 20px; 
}

.list-ini {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.label-dates {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.button {
    display: flex;
    justify-content: flex-end; 
    text-align: right;
    margin-right: auto;
}

.icon-large {
    font-size: 36px; /* Puedes ajustar esto según tus necesidades */
}

.return {
    --background: #011941;
}