<app-encabezado></app-encabezado>

<ion-content >
  <ion-list class="custom-list">
      <ion-list-header class="list-ini" color="primary">
        <ion-label >Lista Seccion PGY3131</ion-label>
      </ion-list-header>
    <ion-searchbar placeholder="Buscarme en lista" class="search"></ion-searchbar>
    <div class="container">
      <ion-list class="lista_alumno">
        <ion-item>
          <ion-label>1. Wacolco tutancamon</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>2. rojelio rajoldo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>3. Petronila mamahuevasa</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>4. ruperto longazo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>5. Zacarias flores del campo</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
