.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.center-button {
    width: 300px; 
    text-align: center;
}

.center-image {
    width: 600px; 
}