.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.center-button {
    width: 300px; 
    text-align: center;
    margin: 10px 0; 
}

.center-imagen {
    width: 100px;
    margin: 15px 0; 
}
.center-image{
    width: 180px;
    margin: 15px 0; 
}

ion-content {
    --background: #011941;
}

.custom-list {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6c7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}