#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-list {
  width: 90%; 
  padding: 10px;
  margin-top: 100px;
  margin-left: 20px;

  background-color: #f6f6c7; 
  border-radius: 15px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

ion-content {
  --background: #011941;
}

.custom-header {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
