<app-encabezado></app-encabezado>

<ion-content>
  
  <ion-list class="custom-list">
    <div class="container">
      <img src="assets/images/miqr.png" alt="Descripción de la imagen" class="center-image">
      <ion-button expand="block" class="center-button" (click)="goToqr()">Generar Qr</ion-button>
      <img src="assets/images/presente.png" alt="Descripción de la imagen" class="center-imagen">
      <ion-button expand="block" class="center-button" (click)="goTolista_docente()">Ver lista</ion-button>
    </div>
  </ion-list>
</ion-content>
